*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
  
}

.App{
   width: 400px;
   height: 350px;
   border: 2px solid #2dace7;
   border-radius: 15px;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   background-color: rgb(114, 139, 160);
   position: absolute;
   top: 50%;
   left:50%;
   transform: translate(-50%,-50%);
}
.Mainmenu button,.quiz button,.endScreen button{
   width:300px;
   height: 30px;
   border-radius: 20px;
   background-color: #976484;
   color:#fff;
}
.options{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
h1{
   text-align: center;
}
.Mainmenu button:hover{
   background-color: #b03d85;  
   height: 40px;
}
.quiz button:hover{
   background-color: #b03d85;  
   height: 40px;
}
.endScreen button:hover{
   background-color: #b03d85;  
   height: 40px;
}